.panel {
    justify-content: flex-start !important;
}

.toggle {
    display: flex;
    gap: 0;
    width: 100%;
}

.toggle > * {
    flex-grow: 1;
}

.toggle .toggleBunch {
    border-radius: 5px 0 0 5px;
}

.toggle .toggleGrape {
    border-radius: 0 5px 5px 0;
}

.tip {
    color: var(--n600);
    font-size: 0.8rem;
    padding-top: 0.5rem;
}

.subpanel {
    flex-grow: 1;
    padding-top: 1rem;
    border-top: 1px solid var(--n300);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}