:root {
  --n50: #ffffff;
  --n100: #f9f9f9;
  --n200: #f3f3f3;
  --n300: #e5e5e5;
  --n400: #c1c1c1;
  --n500: #a3a3a3;
  --n600: #797979;
  --n700: #666666;
  --n800: #474747;
  --n900: #262626;

  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
