:root {
  --n50: #ffffff;
  --n100: #f9f9f9;
  --n200: #f3f3f3;
  --n300: #e5e5e5;
  --n400: #c1c1c1;
  --n500: #a3a3a3;
  --n600: #676767;
  --n700: #404040;
  --n800: #262626;
  --n900: #161616;

  --a50: #e7ebe4;
  --a100: #d0dec3;
  --a200: #b3cb9b;
  --a300: #97bb73;
  --a400: #85af57;
  --a500: #72a339;
  --a600: #679532;
  --a700: #588228;
  --a800: #4b721e;
  --a900: #364412;

  --b50: #e0eedb;
  --b100: #cbc7cd;
  --b200: #b99fc2;
  --b300: #a477b6;
  --b400: #955aaa;
  --b500: #8643a0;
  --b600: #7a3e99;
  --b700: #693890;
  --b800: #5a3186;
  --b900: #402977;

  --no50: #ffded5;
  --no100: #ffc6ba;
  --no200: #ffa899;
  --no300: #ff8a7b;
  --no400: #fe7368;
  --no500: #fa5b56;
  --no600: #e6514d;
  --no700: #cc4240;
  --no800: #b53434;
  --no900: #8c2023;

  --yes50: var(--a50);
  --yes100: var(--a100);
  --yes200: var(--a200);
  --yes300: var(--a300);
  --yes400: var(--a400);
  --yes500: var(--a500);
  --yes600: var(--a600);
  --yes700: var(--a700);
  --yes800: var(--a800);
  --yes900: var(--a900);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-color: var(--n800), transparent;
  scrollbar-width: thin;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}