.main {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 2;

    display: grid;
    grid-template-areas: 
    "menu menu menu"
    "left middle right";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto minmax(0, 1fr);

    max-height: 100vh;
    overflow: hidden;
}

.toolPanel {
    grid-area: right;
    width: 20rem;

    padding: 1rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    background: var(--n100);
    border-left: 1px solid var(--n300);
}

.toolPanelSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.noneSelected {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--n400);
}