.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    grid-area: menu;

    gap: 2rem;
    padding: 0.5rem 1rem 0.5rem 0.65rem;

    background: var(--n900);
    border-bottom: 1px solid var(--n700);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
    color: var(--n300);
    font-size: 1rem;
}

.main svg {
    height: 2rem;
    width: 2rem;
}

.left,
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.main h1 {
    font-weight: 500;
    font-size: 1rem;
}

.mode {
    padding-right: 0.25rem;
    color: var(--n500);
    font-weight: 400;
}

.main .item {
    background: transparent;
    font-family: inherit;
    font-size: 1rem;
    color: var(--n400);
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 100ms ease;
}

.main .item:hover {
    background: var(--n800);
    border-color: var(--n700);
    color: var(--a300);

    box-shadow: inset 0 0px 0px 1px rgba(255, 255, 255, 0.05),
    inset 0 -5px 0px -3px rgba(0, 0, 0, 0.5);
}

.user {
    width: 1.8rem;
    height: 1.8rem;
    background: var(--a300);
    border-radius: 99999px;
}